In [66]:
####################################################################################
#                                                                                  #                 
# Trabalho Final das Disciplinas Estatística Aplicada e Programação com R e Python #
# Discentes: Isabella Calfa e Taian Feitosa                                        #
#                                                                                  #
####################################################################################

#Libs:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats

In [347]:
df1 = pd.read_csv("IMDb movies.csv")
df2 = pd.read_csv("IMDb names.csv")
df3 = pd.read_csv("IMDb ratings.csv")
df4 = pd.read_csv("IMDb title_principals.csv")

C:\Users\Isabella Calfa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
#Tratamento de dados df1 (movies.csv)
df1.info()

In [ ]:
#Dados df1 (movies.csv)
df1.head()
#Corrigir nomes dos países, idioma, data de publicação (tem algumas só com ano) e ano (tem não int)
#Determinar quantos países e quantos idiomas e qual o principal (primeiro)

In [537]:
#Vamos tratar as colunas "country" e "language" para reduzir o quantitativo de valores nulos.
df1 = pd.read_csv("IMDb movies.csv", low_memory=False)
#Total de linhas:
total_rows=df1["country"]
#Ajuste do nome do país:
print(f'\n********* Correção por companhia *********')
df1["country"]=df1["country"].astype(str)
df1["production_company"]=df1["production_company"].astype(str)
#Filmes sem países:
no_country=df1[df1["country"]=="nan"].count()
print(f'Filmes sem países: {no_country["imdb_title_id"]}')
#Conversão pela moda:
dfx=df1[df1["country"]!="nan"] #Retirando países NaN pós conversão para string
dfx=df1.groupby(["production_company"])["country"].agg([pd.Series.min,pd.Series.mode])
dfx["mode_string"]=dfx["mode"].astype(str).str.startswith('[') 
df1=pd.merge(df1,dfx, how='left', on="production_company")
##Se houver mais de uma moda, considera pela primeira vez que a companhia apareceu
df1.loc[(df1["country"]=="nan") & (df1["mode_string"]==False),"country"]=df1["mode"]
df1.loc[(df1["country"]=="nan") & (df1["mode_string"]==True),"country"]=df1["min"]
#Títulos de teste:
df1[(df1["imdb_title_id"]=="tt3248148") | (df1["imdb_title_id"]=="tt0000009") | (df1["imdb_title_id"]=="tt10452854")]
#Validação pós correção:
no_country=df1[df1["country"]=="nan"].count()
print(f'Filmes sem países pós correção por companhia: {no_country["imdb_title_id"]}')

********* Correção por companhia *********
Filmes sem países: 64
Filmes sem países pós correção por companhia: 26

In [562]:
#Quantidade de países do filme:
df1["n_country"]=df1["country"].astype(str).str.count(',')+1
#Primeiro país do filme:
df1["first_country"]=df1["country"].astype(str).str.split(',').str[0]
#Verificação:
df1.head(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,min,mode,mode_string,n_country,first_country
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,NaN,NaN,NaN,1.0,2.0,USA,USA,False,1,USA
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,NaN,NaN,NaN,7.0,7.0,Australia,Australia,False,1,Australia
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,NaN,NaN,NaN,5.0,2.0,"Germany, Denmark","Germany, Denmark",False,2,Germany
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,NaN,NaN,NaN,25.0,3.0,USA,USA,False,1,USA
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,NaN,NaN,NaN,31.0,14.0,Italy,Italy,False,1,Italy

In [ ]:
#Definindo quantidade de países:
n_country=df1.groupby(["imdb_title_id"])[df1[df1["country"].str.contains(",")]].count()
n_country.head(5)
#Definindo país princial:

In [ ]:
#Filmes sem idioma:
no_country=df1[df1["language"].isnull()].count()
print(f'Filmes sem idioma: {no_country["imdb_title_id"]}')
no_language_no_country=df1[(df1["country"].isnull() & df1["language"].isnull())].count()
print(f'Filmes sem países e sem idioma: {no_language_no_country["imdb_title_id"]}')
#Moda do idioma por país do filme que produz: 
print(f'\n********* Correção por país *********')
#modal_language_by_country=df1.groupby(["country"])["language"].agg(pd.Series.mode).to_frame(name='new_language').reset_index()
#df1.head(2)
#df1=pd.merge(df1,modal_country_by_company, how='left', on="production_company")
#df1.loc[df1["country"].isnull(),"country"]=df1.new_country
#no_country=df1[df1["country"].isnull()].count()
#print(f'Filmes sem países pós correção por companhia: {no_country["imdb_title_id"]}')
#TRATAR IDIOMA NONE E NAN

In [ ]:
df2.info()
#Sem necessidade de tratamento dos dados
#Se for utilizar dados de datas de nascimento e morte, precisa tratar.

In [ ]:
df3.info()
#Sem necessidade de tratamento dos dados

In [ ]:
df4.info()
#Sem necessidade de tratamento dos dados

In [ ]:
df4[df4["job"].notnull()]