In [2]:
####################################################################################
#                                                                                  #                 
# Trabalho Final das Disciplinas Estatística Aplicada e Programação com R e Python #
# Discentes: Isabella Calfa e Taian Feitosa                                        #
#                                                                                  #
####################################################################################

#Libs:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
df1 = pd.read_csv("IMDb movies.csv")
df2 = pd.read_csv("IMDb names.csv")
df3 = pd.read_csv("IMDb ratings.csv")
df4 = pd.read_csv("IMDb title_principals.csv")

C:\Users\Isabella Calfa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
#Tratamento de dados df1 (movies.csv)
#Filmes sem países:
no_country=df1[df1["country"].isnull()].count()
print(f'Filmes sem países: {no_country["imdb_title_id"]}')
no_country_no_company=df1[(df1["country"].isnull() & df1["production_company"].isnull())].count()
print(f'Filmes sem países e sem companhias: {no_country_no_company["imdb_title_id"]}')
#Moda do país por companhia que produz: 
print(f'\n********* Correção por companhia *********')
modal_country_by_company=df1.groupby(["production_company"])["country"].agg(pd.Series.mode).to_frame(name='new_country').reset_index()
df1=pd.merge(df1,modal_country_by_company, how='left', on="production_company")
df1.loc[df1["country"].isnull(),"country"]=df1.new_country
no_country=df1[df1["country"].isnull()].count()
print(f'Filmes sem países pós correção por companhia: {no_country["imdb_title_id"]}')

Filmes sem países: 64
Filmes sem países e sem companhias: 18

********* Correção por companhia *********
Filmes sem países pós correção por companhia: 18

In [51]:
#Moda do país por diretor que produz: 
print(f'\n********* Correção por diretor  *********')
no_country_no_director=df1[(df1["country"].isnull() & df1["director"].isnull())].count()
print(f'Filmes sem países e sem diretor: {no_country_no_director["imdb_title_id"]}')
modal_country_by_director=df1.groupby(["director"])["country"].agg(pd.Series.mode).to_frame(name='new_country_director')
modal_country_by_director
#movies=pd.merge(movies,modal_country_by_director, how='left', on="director")
#movies.loc[movies["country"].isnull(),"country"]=movies.new_country_director
#no_country=movies[movies["country"].isnull()].count()
#print(f'Filmes sem países pós correção por diretor: {no_country["imdb_title_id"]}')

********* Correção por diretor  *********
Filmes sem países e sem diretor: 7

director
'Evil' Ted Smith              1
'Philthy' Phil Phillips       1
A. Balakrishnan               1
A. Bhimsingh                  8
A. Dean Bell                  2
                             ..
Ümit Köreken                  1
Ümit Ünal                     7
Þorsteinn Gunnar Bjarnason    1
Þráinn Bertelsson             5
Þórhildur Þorleifsdóttir      1
Name: country, Length: 34733, dtype: int64

In [ ]:
df2

NameError: name 'df2' is not defined

In [ ]:
df3

NameError: name 'df3' is not defined

In [ ]:
df4

NameError: name 'df4' is not defined